{% extends "shared/_layout.html" %}
{% block title %}Project{% endblock %}
{% block main_content %}

<div class="main">
    <div class="form-wrapper">
        <h2>Choose project</h2>
        <form method="post">
            <input id = "uhaveid" class="form-control" type="hidden" name='uhaveid' value="{{uhaveid}}">
            <input id = "SID" class="form-control" type="hidden" name='SID' value="{{SID}}">
            <input id = "time" class="form-control" type="hidden" name='time' value="{{time}}">
            <input id = "update_schedule" class="form-control" type="hidden" name='update_schedule' value="{{update_schedule}}">
            <select id="ProjectList">
                {% for info in project_list %}
                <option name="PID" value="{{info.PID}}">{{info.title}}</option>
                {%endfor%}
            </select>
            <div class="actions">
                <button name="button" type="button" id="ShowTargetSchedulebtn" class="bt btn-info btn-sm "
                    value="Show">Show target</button>
            </div>
    </div>
    </form>
    <div id ='targetObserveDiv'></div>
    <div id="scheduleResult"></div>
</div>
</div>
{% endblock %}